.jewel {
  width: 55px;
  height: 55px;
  /* position: absolute; */
  transition: top .5s ease, left .5s ease, width .2s, height .2s;
  margin: 2px;
}

.jewel:hover {
  cursor: pointer;
}

.jewel.selected {
  border: 1px solid purple;
  border-style: dashed;
}

.jewel.removed {
  width: 4px;
  height: 4px;
  /* margin: 28px; */
}

/* JEWEL_TYPES = 'orange', 'green', 'blue',
'cyan', 'pink', 'yellow',
'round_rainbow' */

.orange {
  background-image: url('../images/orange_gem_1.png');
  background-repeat: round;
}

.green {
  background-image: url('../images/green_gem_3.png');
  background-repeat: round;
}

.blue {
  background-image: url('../images/blue_gem_2.png');
  background-repeat: round;
}

.cyan {
  background-image: url('../images/cyan_gem_6.png');
  background-repeat: round;
}

.pink {
  background-image: url('../images/pink_gem_7.png');
  background-repeat: round;
}

.yellow {
  background-image: url('../images/yellow_gem_7.png');
  background-repeat: round;
}

.round_rainbow {
  background-image: url('../images/round_gem.png');
  background-repeat: round;
}
