div {
  text-align: center;
  font-family: Helvetica;
  color: white;
}

.whole-page {
  justify-content: space-around;
  min-height: 100vh;
  background-image: url('https://img00.deviantart.net/30e9/i/2010/347/0/f/bejeweled_3_wallpaper__1_by_zombifier25-d34smgr.jpg');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: lighter;
  letter-spacing: 5px;
  text-shadow: -2px 3px 0 purple;
  padding: 10px;
  /* text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px purple, 0 0 30px purple, 0 0 40px purple, 0 0 50px purple, 0 0 75px purple; */
}

.game-board-container {
  margin: 10px auto;
  width: 480px;
}

.stats-bar {
  height: 25px;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  letter-spacing: 5px;
  font-size: 18px;
  padding: 5px;
}

#score {
}

#level {
}

#time {
}

#play-pause {

}

.play-pause:hover {

}

.grid-container {
  /* background-color: grey; */
  height: 480px;
  width: 480px;
}

#points {
  position: absolute;
  color: transparent;
  /* width: 5px;
  height: 2px; */
  transition: font 0.15s linear;
}

#points.active {
  display: block;
  color: blue;
  /* width: 200px;
  height: 100px;
  font-size: 3em;*/
}

.progress-bar {
  border: 3px solid goldenrod;
  background-color: transparent;
}

#progress {
  background-color: purple;
  transition: background-color 0.3s ease;
}

.progress.updating {
  background-color: lavender;
}

.by-me {
  margin: 15px 0;
  font-size: 18px;
}

.bottom-links {
  justify-content: space-around;
  display: flex;
  font-size: 48px;
  width: 400px;
  margin: auto;
}

.bottom-links a {
  padding: 10px;
  text-decoration: none;
}

.sidebar {
  justify-content: space-around;
  position: absolute;
}
